---
import Container from '../components/Container.astro'
import Table from '../components/Table.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="bg-[#d78100]">
      <Container>
        <div class="columns-2">
          <!-- <Table /> -->
        </div>
      </Container>
    </section>
  </main>
</Layout>
