---
import Container from './Container.astro'
---

<section class="bg-[#d78100] py-20">
  <Container>
    <h1 class="text-white text-5xl font-title font-regular text-center">
      {Astro.props.title}
    </h1>
  </Container>
  <div class="bottom-0 w-full absolute block h-12"></div>
</section>
